.btn-edit {/* Nền trắng */
  border: none;
  outline: none; 
  text-decoration: none; 
  padding: 10px 20px; 
  transition: transform 0.2s ease;
  display: inline-flex; 
  align-items: center; 
  height: auto;
  width: 200px;
}

.btn-edit:hover {
  text-decoration: none; /* Bỏ underline khi hover */
  transform: translateY(-1px); /* Đẩy chữ lên khi hover */
}

.btn-edit i {
  margin-right: 8px; /* Khoảng cách giữa icon và chữ */
}
