<div class="card-header d-flex justify-content-between align-items-center">
    <div class="card-title">Báo cáo</div>
    <div class="dropdown">
        <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
        {{data}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item" href="#" data-type="revenue" onclick="selectTypeOfData(this)">Doanh thu</a>
            </li>
            <li>
                <a class="dropdown-item" href="#" data-type="orders" onclick="selectTypeOfData(this)">Đơn hàng</a>
            </li>
            <li>
                <a class="dropdown-item" href="#" data-type="customers" onclick="selectTypeOfData(this)">Khách hàng mới</a>
            </li>
        </ul>
    </div>
</div>
<div class="card-body">
    <div class="chart-container">
        <canvas id="barChart"></canvas>
    </div>
</div>
