<body>
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Thanh toán | Gọi món</h4>
                                <span>Nhanh chóng, tiện lợi &amp; mang đến sự trải nghiệm tuyệt vời nhất</span>
                                <div class="main-border-button">
                                    <a href="/order">Order</a>
                                </div>
                            </div>
                            <img src="/images/sp1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Menu</h4>
                                            <span>Danh sách thực đơn và thông tin sản phẩm</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Menu</h4>
                                                <p>Nhấn vào để xem thực đơn và chi tiết các món.</p>
                                                <div class="main-border-button">
                                                    <a href="/menu">Chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/sp2.jpg" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Quản lý cửa hàng</h4>
                                            <span>Thêm xóa sửa và xem các thống kê</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Adminstrator</h4>
                                                <p>Nhấn vào để quản lý cửa hàng một cách nhanh chóng.</p>
                                                <div class="main-border-button">
                                                    <a href="/admin">Chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/sp3.jpg" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Lịch làm việc</h4>
                                            <span>Danh sách làm việc hằng tuần</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Lịch làm việc</h4>
                                                <p>Nhấn vào để xem thông tin về lịch làm của chính mình theo phân công.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/sp4.jpg" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Tiền lương</h4>
                                            <span>Theo dõi số giờ bản thân đã làm</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Tiền lương</h4>
                                                <p>Nhấn vào để xem số giờ đã làm việc và tiền lương tương ứng.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/sp5.jpg" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
</body>